<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) helloTRULY - All Rights Reserved
  ~ Unauthorized copying of this file, via any medium is strictly prohibited
  ~ Proprietary and confidential
  ~ Written by Krzysztof Czelusniak <krzysztof@czelusniak.com>, March 2015
  -->

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>com.hellotruly.backend.PersistentSigninInformation,
                com.hellotruly.backend.RegistrationInformation,
                com.hellotruly.backend.SigninInformation, com.hellotruly.backend.Hello,
                com.hellotruly.backend.Location
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>
</web-app>
